.choices {
  display: flex;
  flex-direction: row;
}

.selection {
  position: relative;

  display: flex;
  align-items: center;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selection input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom_input {
  position: absolute;

  top: 0;
  left: 0;

  height: 10px;
  width: 10px;

  background-color: #ffffff;

  border-radius: 50%;
  border-style: inset;
  border-width: 2px;

  display: inline-block;
  flex-shrink: 0;
}

.custom_input:after {
  position: absolute;

  top: 0;
  left: 0;

  height: 10px;
  width: 10px;

  background-color: #000;

  border-radius: 50%;

  display: none;
  flex-shrink: 0;

  content: "";
}

.selection input:checked + .custom_input:after {
  display: block;
}

