.form_row {
  width: 100%;

  gap: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minimax(50px, 1fr));
}

.choices {
  display: flex;
  flex-direction: row;
}

.selection {
  position: relative;

  display: flex;
  align-items: center;

  gap: 5px;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selection input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom_input {
  position: relative;

  top: 0;
  left: 0;

  height: 10px;
  width: 10px;

  background-color: #ffffff;

  border-radius: 50%;
  border-style: inset;
  border-width: 2px;

  display: inline-block;
  flex-shrink: 0;
}

.custom_input:after {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 10px;
  width: 10px;

  background-color: #000;
  box-shadow: inset 0 0 0  2px #fff;

  border-radius: 50%;

  display: none;

  content: "";
}

.selection input:checked + .custom_input:after {
  display: block;
}

.label_text {

  font-size: 0.7rem;
  font-weight: 400;
}
