.bulletin_form {
  padding: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;

  border: solid;
  border-width: 2px;

  background-color: #EEEEEE;
  color: #555555;

  font-size: 15px;
}

.title {
  font-weight: 400;
  font-size: 1rem;
}

.label {
  font-weight: 200;
  font-size: 0.75rem;
}