.bulletin_form {
  padding: 20px;
  margin: 10px;

  border: solid;
  border-width: 2px;

  background-color: #FFFFFF80;
  color: #555555;
}

.title {
  font-weight: 400;
  font-size: 0.8rem;
}

.label {
  font-weight: 200;
  font-size: 0.7rem;
}

.input {
  padding: 0 2px;

  outline: none;
  box-sizing: border-box;
  width: 100%;

  border: none;
  border-bottom: 1px solid #8D8D8D;
  border-radius: 0;

  background-color: #EEEEEE;
  color: #000000;

  font-size: 0.7;
}

.text_area {
  resize: none;

  line-height: 1.2;

  min-height: 0.7rem;
  max-height: 3.5rem;
}

.input:focus{
  border: 2px solid #2727D7;
}

.input:placeholder {
  color: #757575;
}
