.bulletin_form {
  padding: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;

  border: solid;
  border-width: 2px;

  background-color: #EFEFEF;
  color: #555555;

  font-size: 30px;
}

.title {
  font-weight: 400;
  font-size: 1em;
}

.label {
  font-weight: 200;
  font-size: 0.75em;
}

.input {
  padding: 0 2px;

  outline: none;
  box-sizing: border-box;
  width: 100%;

  border: none;
  border-bottom: 1px solid #8D8D8D;
  border-radius: 0;

  background-color: #EEEEEE;
  color: #000000;

  font-size: 1em;
}

.input:focus{
  border: 2px solid #2727D7;
}

.input:placeholder {
  color: #757575;
}