.yap_content {
  font-size: 30,
}

.title1 {
  font-weight: 700;
  font-size: 1em;
}

.title2 {
  font-weight: 500;
  font-size: 0.8em;
}

.content {
  font-size: 0.5em;
}

.sub_content {
  font-weight: 200;
  font-size: 0.5em;
}

.image_content {
  display: flex;
  flex-direction: row;
}

.image_content .text-side {
  flex-grow: 3;
}

.image_content .image_side {
  flex-grow: 2;

  display: flex;
}

.image_content img {
  height: auto;
  width: 200px;
}