.yap_content {
  padding: 20px;
  margin: 10px;

  font-size: 30;
}

.title1 {
  font-weight: 700;
  font-size: 1.5rem;
}

.title2 {
  font-weight: 700;
  font-size: 1rem;
}

.text {
  margin-bottom: 5px;

  font-size: 0.7rem;
}

.sub_text {
  font-weight: 200;
  font-size: 0.7rem;
}

.image_content {
  display: flex;
  flex-direction: row;
}

.image_content .text_side {
  margin: 5px;

  flex-grow: 3;

  justify-content: flex-start;
}

.image_content .image_side {
  margin: 10px;

  flex-grow: 2;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.image_content img {
  height: auto;
  width: 300px;
}

@media (max-height: 800px) {
  .yap_content{
    margin: 10px;
  }

  .image_content {
    flex-direction: column;

    align-items: center;
  }

  .text_side {
    order: 1;
  }

  .image_side {
    flex-direction: column;
    order: 2;

    align-items: center;
  }

  .image_content img {
    width: auto;
    height: 200px;
    max-width: none;

    align-self: center;
  }
}