.yap_content {
  font-size: 30,
}

.title1 {
  font-weight: 700;
  font-size: 1rem;
}

.title2 {
  font-weight: 500;
  font-size: 0.8rem;
}

.content {
  font-size: 0.5rem;
}

.sub_content {
  font-weight: 200;
  font-size: 0.5rem;
}

.image_content {
  display: flex;
  flex-direction: row;
}

.image_content .text-side {
  flex-grow: 3;
}

.image_content .image_side {
  flex-grow: 2;

  align-items: center;
  justify-content: center;
}

.image_content img {
  height: auto;
  width: 100%;
}