.header {
  height: 50px;

  position: sticky;
  top: 0;

  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #CCCCCC;

  color: #FFFFFF;

  align-items: center;
  justify-content: center;

  display: flex;
}

.logo {
  height: 50px;
  width: auto;
}