.header {
  height: 50px;

  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #CCCCCC;

  color: #FFFFFF;

  align-items: center;
  justify-content: center;
}

.logo {
  height: 50px;
  width: auto;

  margin: auto;
}