.bulletin_post {
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;

  border: inset;
  border-width: 2px;

  color: #000000;
  
  font-size: 0.7rem;
}

.anon_name {
  font-weight: 500;
  font-size: 0.7rem;
}

.post_date {
  font-weight: 200;
  font-size: 0.5rem;
}