.buttons {
  justify-content: center;
  align-content: center;

  display: flex;
  flex-direction: row;
}

.buttons img {
  width: 21px;
  height: 21px;

  margin-left: 5px;

  background-color: #e0e0e0;

  border-style: outset;
  border-width: 2px;
}

.top_tab {
  padding: 5px;
  margin-bottom: 5px;

  color: #FFFFFF;
  background-image: linear-gradient(
    to right, #002d9c, #78a9ff
  );

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: 700;
}


/* the cool gradient profile card*/
.header {
  margin: 10px;
  padding: 20px;

  background-image: linear-gradient(
    to right, #121619, #a2a9b0
  );

  display: flex;
  flex-direction: row;
}

.image_cover {
  width: 150px;
  height: 150px;

  border-radius: 75px;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image_cover img {
  width: 100%;
  height: 100%;
  
  object-fit: cover;
}

.names {
  margin: 30px;

  color: #FFFFFF;

  flex-direction: column;
}

.fullname {
  margin-bottom: 10px;

  font-size: 1.2rem;
  font-weight: 600;
}

.email {
  color: #e0e0e0;

  font-size: 1.0rem;
  font-weight: 200;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .names {
    text-align: center;
    margin: 5px;
  }

  .fullname {
    margin-bottom: 5px;

    font-size: 1rem;
  }

  .email {
    font-size: 0.8rem;
  }
}

/* the contacts bar */
.contacts_tab {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;

  display: flex;
  flex-direction: row;
}

.contacts_label {
  padding: 5px;

  border: outset;
  border-width: 2px;

  font-size: 0.8rem;
}

.contacts_row {
  padding-right: auto;

  background-color: #FFFFFF;

  display: flex;
  flex-grow: 1;

  border: inset;
  border-width: 2px;

  place-items: center;
  align-items: center;
}

.contacts_row div {
  margin: 5px;

  color: #000000;

  font-size: 0.7rem;
}

.contacts_logo {
  width: 1rem;
  height: 1rem;

  margin-right: 2px;

  vertical-align: middle;
}


/* the bio/description */
.desc_label {
  margin-top: 10px;
  margin-left: 10px;
}

.desc {
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;

  background-color: #FFFFFF;

  border: inset;
  border-width: 2px;

  line-height: 1.3;
}

/* educational/academic info */

/* projects */
