.body_div {
  margin: 10px;
}

#top_section {
  padding-top: 70px;
}

.title {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.midtext {
  font-size: 0.8rem;
}

.subtext {
  color: #ffffff;
  font-size: 0.7rem;
  font-weight: 300;
}

.profile_div {
  display: flex;

  align-items: center;
}

.side_items {
  flex: 1;

  margin: 20px;
  padding: 20px;

  color: #ffffff;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.6;
  text-align: justify;
}

.side_items>.title {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.6;
  text-align: justify;
}


.central_profile {
  height: 400px;
  width: 400px;

  padding: 20px;

  align-content: center;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.central_profile img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 200px;
}


.contacts_row {
  display: flex;

  justify-content: flex-start;
}

.contacts_row div {
  padding: 10px;
}

.contacts_logo {
  width: 1rem;
  height: 1rem;
}